<div class="navbar-static-bottom" style="margin: 25px; margin-bottom:15px">
  <p class="text-muted credit">Created by <a href="mailto:nicklombardi@gmail.com?Subject=SolarEyes">Nick Lombardi</a></p>
</div>